body {
    font-family: 'Cinzel';
    overflow: auto;
    background-color: #001136;
    margin: 0px;
  }

  li {
    list-style: none;
  }
  
  .header {
    color: #ffffff;
    height: 70px;
    width: 1000px;
    margin: 10px auto;
    top: 0;
    left: 0;
  }
  
  .header span{
    color: #FF2F88;
}

  .header-logo {
    float: left;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    text-align: center;
  }
  
  .main-logo{
    font-size: 40px;
    border-bottom: solid 1px #ffffff;
  }

  .header-list li {
    float: right;
    padding: 40px 10px 0px 10px;
    font-size: 20px;
  }
  
  .main {
    display: block;
    color: #ffffff;
  }
  
  .back-white{
    width: 100%;
    background-color: #ffffff;
    padding: 50px 0px;
    margin: 0px;
  }

  .back-navy{
    width: 100%;
    background-color: #001136;
    padding: 50px 0px;
  }

  .title-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 80px 0px;
  }
  
  #title-img{
    width: 100%;
    margin: 0px auto;
  }

  .contents-container-navy{
    background-color: #001136;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
  }

  .contents-container-white{
    background-color: #ffffff;
    color: #001136;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
  }

  .contents-description {
    width: 400px;
    font-size: 14px;
    margin-left: 30px;
    text-align: left;
  }

  .contents-title{
      font-size: 36px;
  }

  .contents-title-sub{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0px;
  }

  .contents-caption{
      font-size: 16px;
  }

  #contents-img{
    width: 370px;
    margin: 30px;
  }

  .contents {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
  }

  .contents-navy{
    background-color: #001136;
  }

  .contents-white{
    background-color: #ffffff;
  }
  
  .section-title-navy {
    width: 900px;
    color: #ffffff;
    font-size: 36px;
    text-align: left;
    padding-bottom: 0px;
    margin: auto;
  }

  .section-title-white {
    width: 650px;
    color: #001136;
    font-size: 36px;
    text-align: right;
    padding-bottom: 0px;
    margin: auto;
  }

  .sentense-navy{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  .line-gray{
    height: 1px;
    width: 300px;
    margin: 10px auto;
    background-color: #646464;

  }

  .line-white{
    height: 1px;
    width: 300px;
    margin: 10px auto;
    background-color: #ffffff;

  }

  .two-column-contents{
    width: 650px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: space-between;
    vertical-align: baseline;
  }

  .three-column-contents{
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: space-between;
    vertical-align: baseline;
  }

  .three-column-contents span{
    color: #FF2F88;
  }

  .profile-icon{
      width: 33%;
  }

  #icon{
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }

  .profile-sentences{
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
  }


#link-movie{
    width: 250px;
    height: 170px;
}

.music-01 p, .music-02 p, .music-03 p{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: solid 1px #ffffff;
}

.caption-right{
  font-size: 16px;
  font-weight: normal;
  text-align: right;
}

.two-column-contents2{
    width: 600px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: space-between;
    vertical-align: baseline;
  }

  .two-column-contents2 span{
    color: #FF2F88;
  }

#works-sam{
    width: 250px;
}

#works-sam:hover {
  filter:alpha(opacity=70);/* IE 6,7*/
  -ms-filter: "alpha(opacity=70)";/* IE 8,9 */
  -moz-opacity:0.7;/* FF , Netscape */
  -khtml-opacity: 0.7;/* Safari 1.x */
  opacity:0.7;
  zoom:1;/*IE*/
}

.three-column-contents2{
    width: 600px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: space-between;
    vertical-align: baseline;
    font-size: 12px;
  }

#contact-img{
    width: 100pX;
}

#contact-img-yt{
  width: 200pX;
}

.contact-yt{
  padding: 28px 0px;
}
  
  .footer {
    color: #646464;
    height: 70px;
    width: 1000px;
    margin: 10px auto;
    top: 0;
    left: 0;
  }
  
  .footer span{
    color: #FF2F88;
  }

  .footer-logo {
    float: right;
    font-size: 32px;
    padding: 10px 40px 10px 40px;
  }

  .footer-list li {
    float: left;
    padding: 22px 20px;
  }


  a:link{
    text-decoration: none;
    color:#FFffff;

  }

  a:link:hover {
    filter:alpha(opacity=70);/* IE 6,7*/
    -ms-filter: "alpha(opacity=70)";/* IE 8,9 */
    -moz-opacity:0.7;/* FF , Netscape */
    -khtml-opacity: 0.7;/* Safari 1.x */
    opacity:0.7;
    zoom:1;/*IE*/
  }

  #no-color-link{
      text-decoration: none;
      color: #ffffff;
  }

  a:visited{
      color:#ffffff;
  }